@media (min-width: 800px) {
    main {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        align-items: center;
        justify-content: center;
    }

    h1 {
        font-size: 38px;
    }
    
    h2 {
        font-size: 28px;
    }
    
    #name {
        margin-top: -1em;
    }
    
    h3 {
        font-size: 26px;
    }
    
    p {
        font-size: 14pt;
    }

    img {
        width: 370px;
        height: auto;
    }

    .hicks-law {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .fitts-law {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .proximity {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
}

@media (min-width: 1200px) {
    main {
        display: grid;
        grid-template-columns: auto auto auto;
        align-items: center;
        justify-content: center;
    }

    .hicks-law {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .fitts-law {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .proximity {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
}