@media (min-width: 800px) {

    nav {
        display: flex;
        justify-content: center;
    }

    nav a {
        padding: 18px 5vw;
    }

    #menu {
        display: none;
    }

    #sponsor1 {
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 16px;
    }

    .contact {
        display: contents;
    }

    .cell {
        position: absolute;
        right: 36px;
    }
}