@media (min-width: 500px) {

    nav {
        display: flex;
        justify-content: center;
    }

    nav a {
        padding: 18px 5vw;
    }

    #menu {
        display: none;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 16px;
    }

    #sponsor {
        grid-column: 1/3;
    }

    .contact {
        display: flex;
    }

    .email {
        position: relative;
    }

    .cell {
        position: absolute;
        right: 36px;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;
    }

    .text {
        grid-column: 1/2;
    }

    #sticky {
        position: sticky;
    }

    #gallery {
        grid-column: 2/4;
    }
}